# .gitignore
node_modules/
.env
.env.local
.DS_Store
dist/
build/
*.log
uploads/radiographies/*

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env